Source: sys161
Section: utils
Priority: optional
Maintainer: Scott Haseley <shaseley@buffalo.edu>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: http://os161.eecs.harvard.edu/download/
Vcs-Browser: https://github.com/ops-class/sys161
Vcs-Git: git://github.com/ops-class/sys161.git

Package: sys161
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: System/161 Simulator
	System/161 is a machine simulator that provides a simplified but still
	realistic environment for OS hacking. It is a 32-bit MIPS system supporting up
	to 32 processors, with up to 31 hardware slots each holding a single simple
	device (disk, console, network, etc.) It was designed to support OS/161, with a
	balance of simplicity and realism chosen to make it maximally useful for
	teaching. However, it also has proven useful as a platform for rapid
	development of research kernel projects.
