#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

override_dh_auto_configure:
	./configure --prefix=/usr mipseb

override_dh_auto_test:

%:
	dh $@

# set: ts=2:sw=2:noet
